$susy: (
	flow: ltr,
	math: fluid,
	output: float,
	gutter-position: inside,
	container: auto,
	container-position: center,
	columns: 12,
	gutters: 0,
	// gutters: 0.441,
	column-width: false,
	global-box-sizing: content-box,
	last-flow: to
);

// Breakpoints
$sm: 			600px;
$md: 			1400px;
$xl: 			1560px;

// Colors
$color-dark: 	#555;
$color-dark-2: 	#45370a;
$color-dark-3: 	#3c3c3c;

$color-gray: 	#f6f6f6;

$color-red: 	#f73934;

$color-alpha-btn-bg: rgba(122, 20, 0, 0.11);
$color-alpha-btn-bg-hover: rgba(122, 20, 0, 0.2);
$color-gray-alpha: rgba(100,100,100,0.3);

$color-base: $color-dark;

//Font
$font-lays: 'Lays', 'Helvetica', sans-serif;
$font-gotham: 'Gotham Pro', 'Helvetica', sans-serif;

$font-base: $font-gotham;
$font-size-base: 14px;
$line-height-base: 1.2;
