.button {
	display: inline-block;
	border: 3px solid $color-base;
	background: $color-alpha-btn-bg;
	color: $color-base;
	padding: 18px 10px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	position: relative;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0.05em;

	@include susy-breakpoint(400px){
		font-size: 22px;
	}

	@include susy-breakpoint($sm){
		padding: 18px 10px;
	}

	@include susy-breakpoint(680px){
		font-size: 25px;
		font-size: 1.6vw;
		padding: 20px 10px;
		padding: 1.2vw 10px;
	}

	// @include susy-breakpoint($md){
	// 	padding: 18px 10px;
	// 	font-size: 22px;
	// }

	&__full {
		width: 100%;
	}

	&__invert {
		color: white;
		border-color: white;
	}

	&:hover {
		background: $color-alpha-btn-bg-hover;
	}
}

