.button {
	display: inline-block;
	border: none;
	background: $color-gray;
	color: white;
	padding: 3px 10px 5px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	position: relative;
	font-size: $button-font-size;
	line-height: $button-line-height;

	&--full {
		width: 100%;
	}

	&:hover {
		background: lighten($color-gray, 20%);
		color: darken(white, 60%);
	}
}
