.heading {
	font-size: 44px;
	line-height: 1.34;
	color: black;
	font-weight: bold;

	&__larger {
		font-size: 36px;
		line-height: 1;

		@include susy-breakpoint(400px){
			font-size: 61px;
		}

		@include susy-breakpoint($sm){
			font-size: 57px;
		}

		@include susy-breakpoint(830px){
			font-size: 57px;
			font-size: 4.1vw;
		}

	}

	&__largest {
		font-size: 40px;
		line-height: 1.33;

		@include susy-breakpoint(400px){
			font-size: 67px;
		}

		@include susy-breakpoint($sm){
			line-height: 1;
			font-size: 61px;
		}

		@include susy-breakpoint(830px){
			font-size: 61px;
			font-size: 4.38vw;
		}
	}

	&__invert {
		color: white;
	}
}
