.slogan {
	color: $color-red;
	font-weight: 300;
	font-size: 55px;
	line-height: 1.1;
	letter-spacing: .05em;
	text-transform: uppercase;
	margin-left: 80px;

	&--middle  {
		font-size: 99px;
		line-height: 1;
		font-weight: 500;
	}

	&--bold {
		font-size: 88px;
		line-height: 0.87;
		font-weight: 900;
	}
}
