.slogan {
	color: $color-red;
	font-weight: 300;
	font-size: 49px;
	font-size: 3.26vw;
	line-height: 1;
	letter-spacing: .19rem;
	text-transform: uppercase;
	margin-left: 70px;

	@include susy-breakpoint($xl){
		margin-left: 80px;
		font-size: 55px;
		line-height: 0.9;
	}

	&--middle  {
		font-size: 88px;
		font-size: 6.36vw;
		line-height: 1;
		font-weight: 500;
		letter-spacing: 0.27rem;

		@include susy-breakpoint($xl){
			// font-size: 99px;
		}
	}

	&--bold {
		font-size: 78px;
		font-size: 5.6vw;
		line-height: 0.7;
		font-weight: 900;
		text-transform: none;
		letter-spacing: 0;

		@include susy-breakpoint($xl){
			font-size: 88px;
			line-height: 0.8;
		}
	}
}
