.svg-img {

	&__photo-color {
		width: 54px;
		height: auto;
		margin-top: 27px;

		@include susy-breakpoint(400px){
			margin-top: 31px;
		}

		@include susy-breakpoint(680px){
			margin-top: 25px;
			width: 51px;
		}

		@include susy-breakpoint($xl){
			width: 58px;
			margin-top: 30px;
		}
	}

	&__heart-color {
		width: 62px;
		height: auto;
		margin-top: 38px;

		@include susy-breakpoint(680px){
			margin-top: 31px;
			width: 57px;
		}

		@include susy-breakpoint($xl){
			width: 67px;
			margin-top: 37px;
		}
	}

	&__box-color {
		width: 61px;
		height: auto;
		margin-top: 21px;

		@include susy-breakpoint(400px){
			margin-top: 25px;
		}

		@include susy-breakpoint(680px){
			margin-top: 20px;
			width: 55px;
		}

		@include susy-breakpoint($xl){
			width: 62px;
			margin-top: 24px;
		}
	}
}
