.svg-img {

	&__photo-color {
		width: 54px;
		height: auto;
		margin-top: 27px;

		@include susy-breakpoint(400px){
			margin-top: 31px;
		}

		@include susy-breakpoint($xl){
			width: 60px;
		}
	}

	&__heart-color {
		width: 62px;
		height: auto;
		margin-top: 38px;

		@include susy-breakpoint($xl){
			width: 67px;
		}
	}

	&__box-color {
		width: 61px;
		height: auto;
		margin-top: 21px;

		@include susy-breakpoint(400px){
			margin-top: 25px;
		}

		@include susy-breakpoint($xl){
			width: 62px;
		}
	}
}
