.logo {
	text-align: center;

	&--link {
		display: inline-block;
		width: auto;
		height: 100%;
		text-decoration: none;
	}

	&__top {
		padding-top: 32px;
		padding-bottom: 10px;
		padding-left: 10px;

		@include susy-breakpoint(400px){
			@include span(110px);
		}

		@include susy-breakpoint($sm){
			padding-left: 0;
			margin-left: 40px;
		}

		@include susy-breakpoint(680px){
			margin-left: 0;
			width: 100%;
			float: none;
		}

		@include susy-breakpoint(830px){
			padding-top: 28px;
		}
	}

	&__bottom {
		display: none;

		@include susy-breakpoint(830px){
			display: inline-block;
			float: left;
			margin-right: 10px;
		}

		@include susy-breakpoint($md){
			width: 60px;
			margin-right: 7px;
		}

		@include susy-breakpoint($xl){
			width: 79px;
			margin-right: 5px;
		}
	}

	&--img {
		width: 110px;
		height: auto;

		@include susy-breakpoint(830px){
			width: auto;
		}
	}
}
