.logo {
	text-align: center;

	&--link {
		display: inline-block;
		width: auto;
		height: 100%;
		text-decoration: none;
	}

	&__top {
		padding-top: 28px;
		padding-bottom: 10px;
	}

	&__bottom {
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
}
