.socials {

	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;

		@include susy-breakpoint($sm){
			text-align: right;
		}

		@include susy-breakpoint(680px){
			text-align: center;
		}

		@include susy-breakpoint(830px){
			text-align: right;
		}
	}

	&--item {
		display: inline-block;
		text-align: center;
		width: auto;

		@include susy-breakpoint(270px){
			width:50%;
			margin-bottom: 5px;
		}

		@include susy-breakpoint(360px){
			width: auto;
			margin-bottom: 0px;
		}
	}

	&--link {
		display: inline-block;
		width: 90px;
		height: 83px;
		opacity: 0.9;

		@include susy-breakpoint(830px){
			height: 88px;
		}

		@include susy-breakpoint($xl){
			width: 100px;
			height: 100px;
		}

		&__fb {
			background: $color-blue url("../img/sprite.png") no-repeat -3px -140px;

			@include susy-breakpoint($xl){
				background-position: -3px -137px;
			}
		}

		&__vk {
			background: $color-blue-2 url("../img/sprite.png") no-repeat -106px -140px;

			@include susy-breakpoint($xl){
				background-position: -106px -137px;
			}
		}

		&__yamap {
			background: $color-yellow url("../img/sprite.png") no-repeat -209px -140px;

			@include susy-breakpoint($xl){
				background-position: -207px -137px;
			}
		}

		&__yt {
			background: $color-red-2 url("../img/sprite.png") no-repeat -313px -140px;

			@include susy-breakpoint($xl){
				background-position: -309px -137px;
			}
		}

		&:hover {
			opacity: 1;
		}
	}
}
