.socials {

	&--list {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;
		line-height: 0;
		text-align: center;

		@include susy-breakpoint(680px){
			text-align: right;
		}
	}

	&--item {
		display: inline-block;
		text-align: center;
		width: 50%;
		margin-top: 10px;

		@include susy-breakpoint(400px){
			width: auto;
			margin: 0;
		}
	}

	&--link {
		display: inline-block;
		width: 100px;
		height: 100px;
		opacity: 0.9;

		&__fb {
			background: $color-blue url("../img/sprite.png") no-repeat 0 -135px;
		}

		&__vk {
			background: $color-blue-2 url("../img/sprite.png") no-repeat -103px -135px;
		}

		&__yamap {
			background: $color-yellow url("../img/sprite.png") no-repeat -206px -135px;
		}

		&__yt {
			background: $color-red-2 url("../img/sprite.png") no-repeat -309px -135px;
		}

		&:hover {
			opacity: 1;
		}
	}
}
