html {
	box-sizing: border-box;
	color: $color-base;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
}
