.animation {
	opacity: 0;

	&__to-left {
		right: 0;
		opacity: 1;
		position: relative;

		@include susy-breakpoint(830px){
			right: -350px;
			opacity: 0;
			-webkit-animation: goToLeft 1.5s;
			   -moz-animation: goToLeft 1.5s;
				-ms-animation: goToLeft 1.5s;
				 -o-animation: goToLeft 1.5s;
					animation: goToLeft 1.5s;
			@include fillmode;
		}
	}

	&__photo,
	&__heart,
	&__box {
		-webkit-animation: firstIcon 2.2s;
		   -moz-animation: firstIcon 2.2s;
			-ms-animation: firstIcon 2.2s;
			 -o-animation: firstIcon 2.2s;
				animation: firstIcon 2.2s;
		@include fillmode;

		.header-menu--icon {
			&::before {
				animation: jumpUp .8s;
				@include fillmode;
				width: 10px;
				height: 10px;
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -5px;
			}
		}
	}

	&__photo {

		@include susy-breakpoint(830px){
			-webkit-animation-delay: 1.5s;
			   -moz-animation-delay: 1.5s;
				-ms-animation-delay: 1.5s;
				 -o-animation-delay: 1.5s;
					animation-delay: 1.5s;
		}

		.header-menu--icon {
			&::before {

				@include susy-breakpoint(830px){
					-webkit-animation-delay: 1.5s;
					   -moz-animation-delay: 1.5s;
						-ms-animation-delay: 1.5s;
						 -o-animation-delay: 1.5s;
							animation-delay: 1.5s;
				}
			}
		}
	}

	&__heart {
		@include susy-breakpoint(830px){
			-webkit-animation-delay: 1.8s;
			   -moz-animation-delay: 1.8s;
				-ms-animation-delay: 1.8s;
				 -o-animation-delay: 1.8s;
					animation-delay: 1.8s;
		}

		.header-menu--icon {
			&::before {
				@include susy-breakpoint(830px){
					-webkit-animation-delay: 1.8s;
					   -moz-animation-delay: 1.8s;
						-ms-animation-delay: 1.8s;
						 -o-animation-delay: 1.8s;
							animation-delay: 1.8s;
				}
			}
		}
	}

	&__box {
		@include susy-breakpoint(830px){
			-webkit-animation-delay: 2.1s;
			   -moz-animation-delay: 2.1s;
				-ms-animation-delay: 2.1s;
				 -o-animation-delay: 2.1s;
					animation-delay: 2.1s;
		}

		.header-menu--icon {
			&::before {
				@include susy-breakpoint(830px){
					-webkit-animation-delay: 2.1s;
					   -moz-animation-delay: 2.1s;
						-ms-animation-delay: 2.1s;
						 -o-animation-delay: 2.1s;
							animation-delay: 2.1s;
				}
			}
		}
	}

	&__to-right {
		position: relative;
		left: 0;
		opacity: 1;

		@include susy-breakpoint(830px){
			left: -350px;
			opacity: 1;
			-webkit-animation: goToRight 1.5s;
			   -moz-animation: goToRight 1.5s;
				-ms-animation: goToRight 1.5s;
				 -o-animation: goToRight 1.5s;
					animation: goToRight 1.5s;
			@include fillmode;
		}

	}
// -------------------------------------
	@-moz-keyframes  goToLeft {
	    from {right: -350px; opacity: 0;}
	    to {right: 0px; opacity: 1;}
	}
	@-webkit-keyframes  goToLeft {
	    from {right: -350px; opacity: 0;}
	    to {right: 0px; opacity: 1;}
	}
	@-ms-keyframes  goToLeft {
	    from {right: -350px; opacity: 0;}
	    to {right: 0px; opacity: 1;}
	}
	@-o-keyframes  goToLeft {
	    from {right: -350px; opacity: 0;}
	    to {right: 0px; opacity: 1;}
	}
	@keyframes  goToLeft {
	    from {right: -350px; opacity: 0;}
	    to {right: 0px; opacity: 1;}
	}
// -----------------------------------
	@-moz-keyframes  goToRight {
	    from {left: -350px; opacity: 0;}
	    to {left: 0px; opacity: 1;}
	}
	@-webkit-keyframes  goToRight {
	    from {left: -350px; opacity: 0;}
	    to {left: 0px; opacity: 1;}
	}
	@-ms-keyframes  goToRight {
	    from {left: -350px; opacity: 0;}
	    to {left: 0px; opacity: 1;}
	}
	@-o-keyframes  goToRight {
	    from {left: -350px; opacity: 0;}
	    to {left: 0px; opacity: 1;}
	}
	@keyframes  goToRight {
	    from {left: -350px; opacity: 0;}
	    to {left: 0px; opacity: 1;}
	}
// ------------------------------------
	@-moz-keyframes firstIcon {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	@-webkit-keyframes firstIcon {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	@-o-keyframes firstIcon {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	@-ms-keyframes firstIcon {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	@keyframes firstIcon {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	// --------------------
	@-webkit-keyframes jumpUp {
	    40% {
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    left: 50%;
		    margin-left: -5px;
		    margin-top: -5px;
		}
		80% {
		    width: 150px;
		    height: 150px;
		    margin-left: -15px;
		    margin-top: -15px;
			top: -5px;
			left: -5px;
		}
		100% {
			width: 130px;
			height: 130px;
		    margin-left: 0;
		    margin-top: 0;
			top: -5px;
			left: -5px;
		}
	}
	@-moz-keyframes jumpUp {
	    40% {
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    left: 50%;
		    margin-left: -5px;
		    margin-top: -5px;
		}
		80% {
		    width: 150px;
		    height: 150px;
		    margin-left: -15px;
		    margin-top: -15px;
			top: -5px;
			left: -5px;
		}
		100% {
			width: 130px;
			height: 130px;
		    margin-left: 0;
		    margin-top: 0;
			top: -5px;
			left: -5px;
		}
	}
	@-ms-keyframes jumpUp {
	    40% {
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    left: 50%;
		    margin-left: -5px;
		    margin-top: -5px;
		}
		80% {
		    width: 150px;
		    height: 150px;
		    margin-left: -15px;
		    margin-top: -15px;
			top: -5px;
			left: -5px;
		}
		100% {
			width: 130px;
			height: 130px;
		    margin-left: 0;
		    margin-top: 0;
			top: -5px;
			left: -5px;
		}
	}
	@-o-keyframes jumpUp {
	    40% {
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    left: 50%;
		    margin-left: -5px;
		    margin-top: -5px;
		}
		80% {
		    width: 150px;
		    height: 150px;
		    margin-left: -15px;
		    margin-top: -15px;
			top: -5px;
			left: -5px;
		}
		100% {
			width: 130px;
			height: 130px;
		    margin-left: 0;
		    margin-top: 0;
			top: -5px;
			left: -5px;
		}
	}
	@keyframes jumpUp {
	    40% {
		    width: 10px;
		    height: 10px;
		    top: 50%;
		    left: 50%;
		    margin-left: -5px;
		    margin-top: -5px;
		}
		80% {
		    width: 150px;
		    height: 150px;
		    margin-left: -15px;
		    margin-top: -15px;
			top: -5px;
			left: -5px;
		}
		100% {
			width: 130px;
			height: 130px;
		    margin-left: 0;
		    margin-top: 0;
			top: -5px;
			left: -5px;
		}
	}


	@include susy-breakpoint(680px){

		@-webkit-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 110px;
				height: 110px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-moz-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 110px;
				height: 110px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-ms-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 110px;
				height: 110px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-o-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 110px;
				height: 110px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 110px;
				height: 110px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
	}

	@include susy-breakpoint($xl){

		@-webkit-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 125px;
				height: 125px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-moz-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 125px;
				height: 125px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-ms-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 125px;
				height: 125px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@-o-keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 125px;
				height: 125px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0;
			}
		}
		@keyframes jumpUp {
		    40% {
			    width: 10px;
			    height: 10px;
			    top: 50%;
			    left: 50%;
			    margin-left: -5px;
			    margin-top: -5px;
			}
			80% {
			    width: 150px;
			    height: 150px;
			    margin-left: -15px;
			    margin-top: -15px;
				top: -5px;
				left: -5px;
			}
			100% {
				width: 125px;
				height: 125px;
			    margin-left: 0;
			    margin-top: 0;
				top: 0;
				left: 0px;
			}
		}
	}
}

// transform: translate(350px,0);
// transition: transform 1s ease,opacity 1.2s ease;
// transform: translate(0,0);
// -webkit-animation-fill-mode: both;
