.bottom-content {

	&--card {
		flex-direction: row-reverse;
		overflow: hidden;
	}

	&--billboard {
		padding-top: 75px;
		max-height: 717px;
		text-align: center;
		position: relative;
		background: $color-yellow-3 url("../img/bg-sammer-2.jpg");
		background-size: cover;
		z-index: 2;

		&::before {
			@include pseudo();
			left: -33px;
			top: 361px;
			width: 66px;
			height: 66px;
			background: $color-yellow-3 url("../img/bg-sammer-2.jpg") 89px 428px;
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			z-index: 1;
		}
	}

	&--img-block {
		padding-bottom: 9px;
		margin-left: -13px;
	}

	&--heading {
		padding-bottom: 30px;
		margin-left: -5px;
	}

	&--buttons {
		display: inline-block;
	}

	&--gallery {
		position: relative;
		max-height: 717px;
	}

	.gallery--img {
		-webkit-transition: all 35s linear;
		-o-transition: all 35s linear;
		-moz-transition: all 35s linear;
		-ms-transition: all 35s linear;
		transition: all 35s linear;
	}

	&:hover {
		.gallery--img {
			-webkit-transform: scale(2);
			-o-transform: scale(2);
			-ms-transform: scale(2);
			-moz-transform: scale(2);
			transform: scale(2);
		}
	}
}
