.card {
	@include clearfix;
	background: $color-yellow-2;

	@include susy-breakpoint(830px){
		display: flex;
	}

	&--billboard {

		@include susy-breakpoint(830px){
			width: 50%;

			&__right {
				float: right;
			}

		}
	}

	&--content {

		@include susy-breakpoint(830px){
			width: 50%;
		}
	}

	&--buttons {
		margin-bottom: 20px;

		@include susy-breakpoint(830px){
			width: 250px;
		}

		@include susy-breakpoint($md){
			width: 220px;
			width: 15.9vw;
			margin-bottom: 1vw;
		}
	}

	&--img-block {

		&__left {
			@include susy-breakpoint(830px){
				display: inline-block;
				float: left;
				margin-right: 5px;
			}
		}
	}

	&--image {

		&__full {
			display: none;

			@include susy-breakpoint(830px){
				display: inline;
			}
		}

		&__mobile {
			display: inline;

			@include susy-breakpoint(830px){
				display: none;
			}
		}
	}

	&--desc {
		font-size: 20px;
		line-height: 1.4;
		color: $color-base;

		@include susy-breakpoint($sm){
			font-size: 24px;
			line-height: 1.33;
		}

		&__invert {
			color: white;
		}
	}
}
