.card {
	@include clearfix;
	display: flex;
	background: $color-yellow-2;

	&--billboard {
		width: 50%;

		&__right {
			float: right;
		}
	}

	&--content {
		width:50%;
	}

	&--buttons {
		width: 250px;
	}

	&--img-block {

		&__left {
			display: inline-block;
			float: left;
			margin-right: 5px;
		}
	}

	&--desc {
		font-size: 20px;
		line-height: 1.4;
		color: $color-base;

		&__invert {
			color: white;
		}
	}
}
