.footer {
	background: $color-dark-3;

	&--content {
		@include span(50%);
		padding-top: 20px;
		padding-left: 32px;
	}

	&--copy {
		display: inline-block;
		padding-top: 9px;
		font-size: 12px;
		line-height: 47px;
		color: $color-gray-2;
		letter-spacing: 0.028em;
	}

	&--socials {
		@include span(50%);
	}
}
