.gallery {
	@include clearfix;
	background: white;

	&--item {
		line-height: 0;
	}

	&--wrap {
		position: relative;
		overflow: hidden;
		display: block;
	}

	&--img {
		width: 100%;
	}

	&__col3 {

		@include susy-breakpoint(400px){
			padding: 27px 26px;
		}

		.gallery--item {
			padding: 4px;

			@include susy-breakpoint(400px){
				@include span(1 of 3);
			}
		}
	}
}
