.gallery {
	@include clearfix;
	background: white;

	&--item {
		line-height: 0;
	}

	&--wrap {
		position: relative;
		overflow: hidden;
		display: block;
	}

	&--img {
		width: 100%;
	}

	&__col3 {
		padding: 28px 24px;

		.gallery--item {
			@include span(1 of 3);
			padding: 4px;
		}
	}
}
