.header {
	overflow: hidden;
	@include clearfix;
	margin-bottom: 10px;

	@include susy-breakpoint(680px){
		margin: 0;
	}

	&--animation {
		background: $color-yellow-4 url("../img/bg-header-top.png") no-repeat 100% top;
		background-size: cover;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;

		@include susy-breakpoint(400px){
			min-height: 1104px;
		}

		@include susy-breakpoint(830px){
			background: $color-blue-3 url("../img/bg-header.png") no-repeat 100% top;
			background-size: cover;
			display: block;
			min-height: auto;
			padding-bottom: 5.6vw;
		}
	}
}
