.sidebar-menu {

	&--list {
		@include clearfix;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&--item {
		opacity: 0;
		visibility: hidden;
		background: $color-gray;
		border-top: 1px solid $color-gray-alpha-2;
		transform: translate3d(20%,0,0);
		transition: transform 0.5s, opacity 0.5s, visibility 0.5s;

		&:nth-child(even){
			transform: translate3d(-20%,0,0);

			@include susy-breakpoint(680px){
				opacity: 1;
				visibility: visible;
				background: none;
				border: none;
				transform: none;
			}
		}

		@include susy-breakpoint(680px){
			opacity: 1;
			visibility: visible;
			background: none;
			border: none;
			transform: none;
		}

		&__close {

			@include susy-breakpoint(680px){
				display: none;
			}

			.sidebar-menu--link {
				color: $color-gray-4;
			}
		}

		&__active,
		&__active:nth-child(even) {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0,0,0);
			transition: transform 0.5s, opacity 1s, visibility 0.5s;
		}
	}

	&--link {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		color: $color-base;
		text-decoration: none;
		padding-top: 23px;
		padding-bottom: 23px;
		transition: background 1s ease, border-color 1s ease;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;

		&:hover {
			background: white;
			border-color: $color-gray-3;
		}

		&__close {
			.sidebar-menu--link-text {
				padding-left: 0;
			}
		}
	}

	&--link-text {
		display: block;
		line-height: 1;
		padding-left: 70px;

		@include susy-breakpoint(400px){
			padding-left: 0;
		}
	}

	&--icon {
		display: inline-block;
		height: 57px;
		width: 50px;
		background: url("../img/sprite.png") no-repeat;
		margin-bottom: 5px;
		position: absolute;
		left: 10px;
		top: 0;

		@include susy-breakpoint(400px){
			left: 30px;
		}

		@include susy-breakpoint(680px){
			position: static;
		}

		&__box {
			background-position: -53px 0;
		}

		&__map {
			background-position: -106px 0;
		}
	}

	// --------- phone menu
}
