.sidebar {
	background: $color-gray;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	text-align: center;
	max-height: 250px;

	@include susy-breakpoint(400px){
		height: 160px;
		text-align: left;
	}

	@include susy-breakpoint(680px){
		@include span(150px);
		text-align: center;
		position: static;
	}

	&--mark {
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
		padding-bottom: 20px;

		@include susy-breakpoint(400px){
			padding-top: 55px;
			padding-bottom: 0;
			width: calc(100% - 250px);
			float: left;
			font-size: 40px;
			font-size: 6.7vw;

		}

		@include susy-breakpoint(680px){
			padding-top: 0px;
			padding-bottom: 77px;
			float: none;
			width: auto;
			font-size: $font-size-base;
			letter-spacing: 0.06em;
		}
	}
}
