.top-content {
	@include clearfix;
	// position: relative;
	overflow: hidden;
	background: $color-yellow-4;

	&--billboard {
		background: $color-yellow-2 url("../img/bg-gallery-mobile.png") 100% -4px;
		padding-top: 80px;
		padding-bottom: 40px;
		text-align: center;
		position: relative;

		&::before {
			@include triangle(solid white,up,37px,absolute,true);
			bottom: 15px;
			right: 50%;
			margin-right: -47px;
		}

		@include susy-breakpoint($sm){
			text-align: left;
			padding-top: 57px;
			padding-bottom: 90px;
		}

		@include susy-breakpoint(830px){
			background: $color-yellow-2 url("../img/bg-gallery.png") 73% 0;
			background-size: 640px 640px;
			padding-top: 30px;
			padding-bottom: 0;
			padding-left: 0;

			&::before {
				display: none;
			}
		}

		@include susy-breakpoint($md){
			padding-top: 34px;
			padding-left: 38px;
		}
	}

	&--img-block {

		@include susy-breakpoint($sm){
			padding-left: 47px;
			padding-bottom: 8px;
		}

		@include susy-breakpoint(830px){
			width: 270px;
			padding: 0;
		}
	}

	&--heading {
		max-width: 285px;
		padding: 0 10px;
		font-size: 30px;

		@include susy-breakpoint($sm){
			max-width: 250px;
			font-size: 41px;
			margin-left: 60px;
		}

		@include susy-breakpoint(830px){
			margin-left: 45px;
			font-size: 39px;
			padding: 0;
		}

		@include susy-breakpoint($xl){
			margin-left: 55px;
			font-size: 46px;
		}
	}

	&--mark {
		font-weight: normal;
		margin: 0 28px 20px;
		font-size: 28px;
		line-height: 1.35;
		letter-spacing: -0.006em;

		@include susy-breakpoint($sm){
			font-size: 41px;
			margin-left: 62px;
		}

		@include susy-breakpoint(830px){
			margin-left: 46px;
			margin-bottom: 41px;
			font-size: 44px;
		}
	}

	&--buttons {
		display: inline-block;
		position: relative;
		top: -6px;

		@include susy-breakpoint(830px){
			margin-left: 46px;
			top: auto;
		}
	}
}
